.apps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.apps h1{
  margin-top: 70px;
  padding-left: 60px;
  font-weight: bold;
  color: black;
}
.border img{
  height: 35%;
  width: 35%;
}
.border{
  display: flex;
  padding: 20px;
  border: none !important;
}
.download-info{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}
.download-info h2{
  font-size: 26px;
  font-weight: bold;
  padding-left: 10px;
}
.download-info p{
  padding-left: 10px;
}
.my-custom-row-left{
  background-color: white;
  margin-left: 60px;
  margin-bottom: 60px;
}
.arrow{
  font-size: 39px;
  padding-top: 45px;
}
@media (max-width:800px){
  .my-custom-row-left{
    margin-left: 10px;
    width: 470px;
    margin-bottom: 20px;
  }
  .apps h1{
    margin-top: 30px;
  }

}